@import "./atoms/index.scss";
@import "./molecules/index.scss";
@import "./pages/index.scss";

body {
    margin: 0;
}

@font-face {
    font-family: "Flipbash";
    src: local("Flipbash"), url(../assets/fonts/Flipbash.otf) format("opentype");
}

* {
    font-family: "Flipbash" !important;
}